<div class='head'>
  <div class='btn'>
    <i></i>
    <i></i>
    <i></i>
  </div>
  <div class='container'>
    <ul class='hum'>
      <li><%= link_to "FEATURES", features_index_path %></li>
      <li><%= link_to "NEWS", news_index_path %></li>
      <li><%= link_to("SHOPLIST", "https://lee-japan.jp/")%></li>
      <li><%= link_to("ONLINE SHOP", "https://lee-japan.jp/")%></li>
    </ul>
  </div>
  <div class="logos">
    <%= link_to root_path do %>
      <%= image_tag "ロゴ_lee.png", class: "logo" %>
    <% end %>
  </div>

  <ul class="menus">
    <li clsss="menu"><%= link_to "FEATURES", features_index_path %></li>
    <li clsss="menu"><%= link_to "NEWS", news_index_path %></li>
    <li>
      <%= link_to("SHOPLIST", "https://lee-japan.jp/", clsss:"menu")%>
    </li>
    <li>
      <%= link_to("ONLINE SHOP", "https://lee-japan.jp/", clsss:"menu")%>
    </li>
  </ul>

</div>