  <!-- Slider main container -->
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
          <%= image_tag "1.png", class: "top_img" %>
        </div>
      <div class="swiper-slide">
          <%= image_tag "4.png", class: "top_img" %>
        </div>
      <div class="swiper-slide">
          <%= image_tag "15.png", class: "top_img" %>
        </div>
      <div class="swiper-slide">
          <%= image_tag "20.png", class: "top_img" %>
        </div>
      <div class="swiper-slide">
          <%= image_tag "17.png", class: "top_img" %>
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
  const swiper = new Swiper('.swiper', {
    // Optional parameters
    direction: 'horizontal',
    loop: true,
    speed: 1000,
    spaceBetween: 30,
    breakpoints:{
      900: {
        slidesPerView: 2,
      },
      1400: {
        slidesPerView: 3,
      },
    },

    // If we need pagination
    pagination: {
      // el: '.swiper-pagination',
    },

    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
      hideOnClick: true,
    },

    // And if we need scrollbar
    scrollbar: {
      el: '.swiper-scrollbar',
      hide: true,
    },

    autoplay: {
      delay: 3000,
    }
    
  });
</script>
