<html>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

  <header>
    <%= render "shared/header" %>
  </header>

  <div class='news'>
    <div class='title'>
      <div class='title_main'>NEWS</div>
      <div class='title_sub'>新着情報</div>
    </div>

    <div class='news_links'>
      <div class='news_link'>
        <%= image_tag'6.png', class:'news_link_image'%>
        <div class='news_caption'>2023/10/25<br> ​​バディリーの特別限定アイテム</div>
      </div>
      <div class='news_link'>
        <%= image_tag'18.png', class:'news_link_image'%>
        <div class='news_caption'>2023/10/25<br> ​限定品、早めにゲットしよう</div>
      </div>
      <div class='news_link'>
        <%= image_tag'10.png', class:'news_link_image'%>
        <div class='news_caption'>2023/08/15<br> ​​Available Only at Lee Shop</div>
      </div>
      <div class='news_link'>
        <%= image_tag'21.png', class:'news_link_image'%>
        <div class='news_caption'>2021/04/09<br> The Latest Collection バディリースタイルの最新コレクション</div>
      </div>
      <div class='news_link'>
        <%= image_tag'19.png', class:'news_link_image'%>
        <div class='news_caption'>2009/12/31<br> ​​Available!! リーショップでしか手に入らない</div>
      </div>
      
    </div>
  </div>

  <footer>
    <%= render "shared/footer" %>
  </footer>
</html>