<html>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

  <header>
    <div class='head'>
      <div class='btn'>
        <i></i>
        <i></i>
        <i></i>
      </div>
      <div class='container'>
        <ul class='hum'>
          <li><%= link_to "FEATURES", features_index_path %></li>
          <li><%= link_to "NEWS", news_index_path %></li>
          <li><%= link_to("SHOPLIST", "https://lee-japan.jp/")%></li>
          <li><%= link_to("ONLINE SHOP", "https://lee-japan.jp/")%></li>
        </ul>
      </div>
      <div class="logos">
        <%= image_tag "ロゴ_lee.png", class: "logo" %>
      </div>

      <ul class="menus">
        <li clsss="menu"><%= link_to "FEATURES", features_index_path %></li>
        <li clsss="menu"><%= link_to "NEWS", news_index_path %></li>
        <li>
          <%= link_to("SHOPLIST", "https://lee-japan.jp/", clsss:"menu")%>
        </li>
        <li>
          <%= link_to("ONLINE SHOP", "https://lee-japan.jp/", clsss:"menu")%>
        </li>
      </ul>

    </div>

    <div class='head_pictures'>
      <%= render "shared/swipe_head" %>
    </div>
  </header>

  <div class='features'>
    <div class='title'>
      <div class='title_main'>FEATURES</div>
      <div class='title_sub'>注目情報</div>
    </div>

    <div class='feature_upper_links'>
      <div class='feature_link'>
        <%= image_tag'1.png', class:'link_image'%>
        <div class='caption'>アドベンチャーとスタイルが交わる、AMERICAN RIDERSと共にオープンロードを探索しよう。</div>
      </div>
      <div class='feature_link'>
        <%= image_tag'4.png', class:'link_image'%>
        <div class='caption'>クラシックなエレガンスと比類なき品質。AMERICAN RIDERS、コレクションの頂点。</div>
      </div>
      <div class='feature_link'>
        <%= image_tag'15.png', class:'link_image'%>
        <div class='caption'>あなたの日常のスタイルを向上させる。STANDARD WARDROBEへようこそ。</div>
      </div>
    </div>

    <div class='feature_bottom_links'>
      <div class='feature_link'>
        <%= image_tag'16.png', class:'link_image'%>
        <div class='caption'> ファッションを再定義し、あなたも再定義する。STANDARD WARDROBE。</div>
      </div>
      <div class='feature_link'>
        <%= image_tag'17.png', class:'link_image'%>
        <div class='caption'> 他とは違うデニム。Maistandard Denimでスタイルを抱きしめよう。</div>
      </div>
      <div class='feature_link'>
        <%= image_tag'20.png', class:'link_image'%>
        <div class='caption'>あなたのワードローブを引き上げ、スタンダードを引き上げる。STANDARD WARDROBEがスタイルを解き放つ。</div>
      </div>
    </div>

    <div class='allview'>
      <%= link_to "VIEW ALL", features_index_path %>
    </div>
  </div>


  <div class='news'>
    <div class='title'>
      <div class='title_main'>NEWS</div>
      <div class='title_sub'>新着情報</div>
    </div>

    <div class='news_links'>
      <div class='news_link'>
        <%= image_tag'6.png', class:'news_link_image'%>
        <div class='news_caption'>2023/10/25<br> ​​バディリーの特別限定アイテム</div>
      </div>
      <div class='news_link'>
        <%= image_tag'18.png', class:'news_link_image'%>
        <div class='news_caption'>2023/10/25<br> ​限定品、早めにゲットしよう</div>
      </div>
      <div class='news_link'>
        <%= image_tag'10.png', class:'news_link_image'%>
        <div class='news_caption'>2023/08/15<br> ​​Available Only at Lee Shop</div>
      </div>
      <div class='news_link'>
        <%= image_tag'21.png', class:'news_link_image'%>
        <div class='news_caption'>2021/04/09<br> The Latest Collection バディリースタイルの最新コレクション</div>
      </div>
      <div class='news_link'>
        <%= image_tag'19.png', class:'news_link_image'%>
        <div class='news_caption'>2009/12/31<br> ​​Available!! リーショップでしか手に入らない</div>
      </div>
      
    </div>

    <div class='allview'>
      <%= link_to "VIEW ALL", news_index_path %>
    </div>
  </div>

  <div class='insta'>
  </div>

  <footer>
    <div class='tale_pictures'>
      <%= render "shared/swipe_foot" %>
    </div>

    <div class='foot'>
      <div class='topic'>
        <ul class='footer_ul'>
          <li class='fl_up'>TOP</li>
          <li class='fl_up'>FEATURES</li>
          <li class='fl_up'><%= link_to("SHOPLIST", "https://lee-japan.jp/")%></li>
          <li class='fl_up'><%= link_to("ONLINE SHOP", "https://lee-japan.jp/", clsss:"menu")%></li>
        </ul>

        <div class='info'>
          <div class='f_icon'>
            <%= image_tag'sns_findus.png' %>
          </div>
          <div class='sns'>
            <%= image_tag'FACEBOOK風のアイコン素材 その3.png', class:'f_info' %>
            <%= image_tag'カメラのアイコン素材 1.png', class:'f_info' %>
            <%= image_tag'動画再生ボタン.png', class:'f_info' %>
          </div>
        </div>

      </div>

      <div class='copyright'>
        <div>© 1997 - 2023 GLABAL IMPACT CO.,LTD.,</div>
      </div>
    </div>
  </footer>
</html>