<html>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

  <header>
    <div class='head'>
      <div class="logos">
        <%= image_tag "ロゴ_lee.png", class: "logo" %>
      </div>

      <ul class="menus">
        <li clsss="menu">FEATURES</li>
        <li clsss="menu">NEWS</li>
        <li>
          <%= link_to("SHOPLIST", "https://lee-japan.jp/", clsss:"menu")%>
        </li>
        <li>
          <%= link_to("ONLINE SHOP", "https://lee-japan.jp/", clsss:"menu")%>
        </li>
      </ul>
    </div>

    <div class='head_pictures'>
      <%= render "shared/swipe_head" %>
    </div>
  </header>

  <div class='features'>
    <div class='feature_title'>
      <div class='feature_title_main'>FEATURES</div>
      <div class='feature_title_sub'>注目情報</div>
    </div>

    <div class='feature_upper_links'>
      <div class='feature_link'>
        <%= image_tag'1.png', class:'link_image'%>
        <div class='caption'>アドベンチャーとスタイルが交わる、AMERICAN RIDERSと共にオープンロードを探索しよう。</div>
      </div>
      <div class='feature_link'>
        <%= image_tag'4.png', class:'link_image'%>
        <div class='caption'>クラシックなエレガンスと比類なき品質。AMERICAN RIDERS、コレクションの頂点。</div>
      </div>
      <div class='feature_link'>
        <%= image_tag'15.png', class:'link_image'%>
        <div class='caption'>あなたの日常のスタイルを向上させる。STANDARD WARDROBEへようこそ。</div>
      </div>
    </div>

    <div class='feature_bottom_links'>
      <div class='feature_link'>
        <%= image_tag'16.png', class:'link_image'%>
        <div class='caption'> ファッションを再定義し、あなたも再定義する。STANDARD WARDROBE。</div>
      </div>
      <div class='feature_link'>
        <%= image_tag'17.png', class:'link_image'%>
        <div class='caption'> 他とは違うデニム。Maistandard Denimでスタイルを抱きしめよう。</div>
      </div>
      <div class='feature_link'>
        <%= image_tag'20.png', class:'link_image'%>
        <div class='caption'>あなたのワードローブを引き上げ、スタンダードを引き上げる。STANDARD WARDROBEがスタイルを解き放つ。</div>
      </div>
    </div>

    <div class='feature_allview'>VIEW ALL</div>
  </div>

  <div class='news'>
  </div>

  <div class='insta'>
  </div>

  <footer>
    <div class='tale_pictures'>
    </div>

    <div class='foot'>
    </div>
  </footer>
</html>