<html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

<header>
  <%= render "shared/header" %>
</header>

<div class='features'>
  <div class='title'>
    <div class='title_main'>FEATURES</div>
    <div class='title_sub'>注目情報</div>
  </div>

  <div class='feature_upper_links'>
    <div class='feature_link'>
      <%= image_tag'1.png', class:'link_image'%>
      <div class='caption'>アドベンチャーとスタイルが交わる、AMERICAN RIDERSと共にオープンロードを探索しよう。</div>
    </div>
    <div class='feature_link'>
      <%= image_tag'4.png', class:'link_image'%>
      <div class='caption'>クラシックなエレガンスと比類なき品質。AMERICAN RIDERS、コレクションの頂点。</div>
    </div>
    <div class='feature_link'>
      <%= image_tag'15.png', class:'link_image'%>
      <div class='caption'>あなたの日常のスタイルを向上させる。STANDARD WARDROBEへようこそ。</div>
    </div>
  </div>

  <div class='feature_bottom_links'>
    <div class='feature_link'>
      <%= image_tag'16.png', class:'link_image'%>
      <div class='caption'> ファッションを再定義し、あなたも再定義する。STANDARD WARDROBE。</div>
    </div>
    <div class='feature_link'>
      <%= image_tag'17.png', class:'link_image'%>
      <div class='caption'> 他とは違うデニム。Maistandard Denimでスタイルを抱きしめよう。</div>
    </div>
    <div class='feature_link'>
      <%= image_tag'20.png', class:'link_image'%>
      <div class='caption'>あなたのワードローブを引き上げ、スタンダードを引き上げる。STANDARD WARDROBEがスタイルを解き放つ。</div>
    </div>
  </div>
</div>

<footer>
  <%= render "shared/footer" %>
</footer>
</html>